<tr id="reply_<%= reply.id %>" class="reply-background">
  <td class="col-md-3">
    <div class="text-center post-content">
      <%= link_to root_path do %>
        <%= image_tag reply.user.avatar.url,width:"150" if reply.user.avatar? %>
        <div style="margin-top: 20px;"><%= reply.user.name %></div>
      <% end %>
    </div>
  </td>

  <td class="col-md-9">
    <div class="reply-content">
      <span><%= reply.content %></span>
      <br>

      <% if current_user == reply.user || current_user.admin? %>
        <%= link_to post_reply_path(@post,reply), remote: true ,method: :delete, data: { confirm: "確定要刪除這個留言嗎?"} do %>
          <span class="glyphicon glyphicon-remove post-icon"></span>
        <% end %>
      <% end %>

      <% if current_user == reply.user %>
        <%= link_to edit_post_reply_path(@post,reply),remote: true do %>
          <span class="glyphicon glyphicon-pencil post-icon"></span>
        <% end %>
      <% end %>
    </div>
  </td>
</tr> 