<div class="container">  
  <div class="row">
    <div class="col-md-12">
      <%= render partial:"shared/user_info",locals:{:user => @user} %>

      <div class="clearfix"></div>

      <br><br><br>
            
      <ul class="nav nav-tabs">
        <% if @user == current_user %>
          <li role="presentation"><%= link_to "My Post", posts_user_path %></li>
          <li role="presentation"><%= link_to "My Comment", comments_user_path %></li>
          <li role="presentation"><%= link_to "My Collect", collects_user_path %></li>
          <li role="presentation"><%= link_to "My Draft", drafts_user_path %></li>
          <li role="presentation" class="active"><%= link_to "My Friend", friends_user_path %></li>
        <% else %>
          <li role="presentation"><%= link_to "#{@user.name}'s Post", posts_user_path %></li>
          <li role="presentation"><%= link_to "#{@user.name}'s Comment", comments_user_path %></li>
          <li role="presentation"><%= link_to "#{@user.name}'s Collect", collects_user_path %></li>
          <li role="presentation"><%= link_to "#{@user.name}'s Draft", drafts_user_path %></li>
          <li role="presentation" class="active"><%= link_to "#{@user.name}'s Friend", friends_user_path %></li>
        <% end %>        
      </ul>
      

      <br><br>


      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @user.all_friends.count %>
            個好友
          </div>
          <div class="panel-center panel-body">
            <div id="my-friends">
              <% @friends.each do |friend| %>
                <div class="friend-item text-center col-xs-12 col-sm-6 col-md-3">
                  <%= image_tag friend.avatar.url,width:"100" if friend.avatar? %>
                  <p class="text-primary inline">
                    <%= link_to friend.name, posts_user_path(friend) %>
                  </p>
                  <%= render partial: "shared/friend", locals: { user: friend } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% if @user == current_user %>
        <div class="col-xs-8 col-xs-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= @user.unconfirm_friends.count %>
              個等待接受好友
            </div>
            <div class="panel-center panel-body">
              <% @unconfirm_friends.each do |friend| %>
                <div class="friend-item text-center col-xs-12 col-sm-6 col-md-3">
                  <%= image_tag friend.avatar.url,width:"100" if friend.avatar? %>
                  <p class="text-primary inline">
                    <%= link_to friend.name, posts_user_path(friend) %>
                  </p>
                  <%= render partial: "shared/friend", locals: { user: friend } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= @user.request_friends.count %>
              個好友請求
            </div>
            <div class="panel-center panel-body">
              <% @request_friends.each do |friend| %>
                <div class="friend-item text-center col-xs-12 col-sm-6 col-md-3">
                  <%= image_tag friend.avatar.url,width:"100" if friend.avatar? %>
                  <p class="text-primary inline">
                    <%= link_to friend.name, posts_user_path(friend) %>
                  </p>
                  <p><%= link_to "接受好友邀請", confirm_friendship_path(current_user, friend), class: "btn btn-primary",method: :post %></p>
                  <p><%= link_to "拒絕好友邀請", refuse_friendship_path(current_user, friend), class: "btn btn-danger", method: :delete %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>