<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        
          <div class="text-center">
            <h2>Forgot your password</h2>
          </div>

          <div class="log-body text-center">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field" style="margin-top: 20px;">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="actions" style="margin-top: 20px;">
                <%= f.submit "Send me reset password instructions",class:"btn btn-success"%>
              </div>
            <% end %>
            
            <div class="field text-center" style="margin-top: 10px;">
              <%= render "devise/shared/links" %>
            </div>
            
          </div>
               

      </div>
    </div>
  </div>
</div>
