<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">        
    <div class="navbar-header">
        <%= link_to "DojoForum",root_path,class:"navbar-brand" %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
          <li style="font-size: 15px;"><%= link_to "Feeds",root_path %></li>
          <li style="font-size: 15px;"><%= link_to "All Posts",root_path %></li>
          <li style="font-size: 15px;"><%= link_to "New Post",root_path %></li>
      </ul>


      <ul class="nav navbar-nav navbar-right"> 
        <% if current_user %>         
          <li><%= link_to tweets_user_path(current_user) do %>
            <div class="user-avatar"><%= image_tag current_user.avatar if current_user.avatar? %></div>
          <% end %> 

          </li>

          <li><%= link_to destroy_user_session_path, method: :delete do%>
           <span class="glyphicon glyphicon-log-out"></span> 登出
          <% end %> 
          </li> 

          <li><%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-pencil"></span> 修改密碼
            <% end %>
          </li>
         <% else %>
          <li><%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-registration-mark"></span> 註冊
            <% end %>
          </li>

          <li><%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> 登入
           <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>