<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">        
    <div class="navbar-header">
        <%= link_to "DojoForum",root_path,class:"navbar-brand" %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
          <li style="font-size: 15px;"><%= link_to "Feeds",feeds_posts_path %></li>
          <li style="font-size: 15px;"><%= link_to "All Posts",posts_path %></li>
          <li style="font-size: 15px;"><%= link_to "New Post",new_post_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right"> 
        <% if current_user %>         
          
          <li style="font-size: 15px;">
            <p class="navbar-text"><%= current_user.email %></p>
          </li>

          <li style="font-size: 15px;"><%= link_to "(Admin)",root_path %>
          </li> 

          <li style="font-size: 15px;"><%= link_to root_path do %>
            <span class="glyphicon glyphicon-pencil"></span> Profile
          <% end %>
          </li> 

          <li style="font-size: 15px;"><%= link_to destroy_user_session_path, method: :delete do%>
           <span class="glyphicon glyphicon-log-out"></span> Log out
          <% end %> 
          </li> 


         <% else %>
          <li><%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-registration-mark"></span> 註冊
            <% end %>
          </li>

          <li><%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> 登入
           <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>