<div class="container">
  <div class="row">
    <h1 class="text-center">DojoForum</h1>

    <div class="col-md-12">
      <ul class="nav nav-pills nav-pills-center" style="margin-top:25px;">
        <li role="presentation" class="active"><%= link_to "All", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %>
      </ul>

      <table class="table" style="margin-top:16px;">
        <thead>
          <tr>
            <th><%= sort_link(@q, :replies_count, 'Replies Count', default_order: :desc) %></th>
            <th>Title</th>
            <th><%= sort_link(@q, :last_replied_at, 'Last replied at', default_order: :desc) %></th>
            <th><%= sort_link(@q, :viewed_count, 'Viewed Count', default_order: :desc) %></th>
          </tr>
        </thead> 

        <tbody>
          <% @posts.each do |post| %>
            <% if current_user %>
              <% if post.status == true %>
                <% if current_user.admin? || current_user == post.user || post.authority == "All" || (post.authority == "Friend" && post.user.friend?(current_user)) %>
                  <tr>
                    <td class="text-center"><%= post.replies_count %></td>
                    <td>
                      <%= link_to truncate(post.title,length:120), post_path(post) %>
                      <% post.categories.each do |category| %>
                        <span style="font-size: 10px;margin-left: 5px" class="label label-success"><%= category.name %></span>  
                      <% end %>
                    </td>
                    <td><%= post.last_replied_at.try(:strftime,("%Y-%m-%d")) %></td>
                    <td class="text-center"><%= post.viewed_count %></td>
                  </tr>
                <% end %>
              <% end %>

            <% else%>
              <% if post.authority == "All" %>
                <tr>
                  <td class="text-center"><%= post.replies_count %></td>
                  <td>
                    <%= link_to truncate(post.title,length:100), post_path(post) %>
                    <% post.categories.each do |category| %>
                      <span style="font-size: 10px;margin-left: 10px;" class="label label-success"><%= category.name %></span>  
                    <% end %>
                  </td>
                  <td><%= post.last_replied_at.try(:strftime,("%Y-%m-%d")) %></td>
                  <td class="text-center"><%= post.viewed_count %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @posts %>
      </div> 
                 
    </div>
  </div>
</div>
