<style>
  .error-box{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:55px;">
      <% if @post.errors.any? %>
        <div class="error-box">
          <h4>We have some errors here !</h4>
          <ol>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ol>
        </div>        
      <% end %>

      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :content, "" %>
          <%= f.text_area :content, rows:"6", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image, "Image" %>
          <%= image_tag @post.image.url, width: '300px' if @post.image? %>
          <%= f.file_field :image %>
        </div>

        <div class="form-group">
          <%= f.label :category, "Category" %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.label :authority, "Who Can See" %>
          <%= f.select :authority, options_for_select(["All", "Friend", "Myself"]), {prompt: true}, {class: "form-control"} %>
        </div>

        <div class="form-group" style="margin-top:30px;">
          <%= f.submit "Save Draft", class: "btn btn-warning", style:"width:15%;padding:6px;margin-right:16px;" %>
          <%= f.submit "Submit", class: "btn btn-primary", style:"width:15%;padding:6px;" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
