<div class="container">  
  <div class="row">
    <div class="col-md-12">

      <div class="post-title">
        <h2><%= @post.title %></h2>       
      </div>
      
      <div class="post-content">
        <table class="table table-bordered">
          <tbody>
            <!--post content-->
            <tr>
              <td>
                <p class="text-center"><%= @post.user.name %></p>
              </td>

              <td><%= @post.content %></td>
            </tr>       

            <!--reply content-->  
            <% @replies.each do |reply| %>
              <tr class="reply-content">
                <td><p class="text-center"><%= reply.user.name %></p></td>
                <td><%= reply.content  %></td>
              </tr>
            <% end %>
             
          </tbody>
        </table>
      </div>

      <div class="post-reply">
        <%= form_for [@post, @reply] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, rows:"3", placeholder: "請寫下留言內容", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit" ,class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
            
    </div>
  </div>
</div>