<div class="container">  
  <div class="row">
    <div class="col-md-12">

      <div class="post-title">
        <h2><%= @post.title %></h2>       
      </div>
      
      <div class="post-content">
        <table class="table table-bordered">
          <tbody>
            <!--post content-->
            <tr>
              <td>
                <div class="text-center">
                  <p><%= @post.user.name %></p>
                </div>
              </td>

              <td>
                <div><%= @post.content %></div>                 
              </td>
            </tr>       

            <!--reply content-->  
            <tr>
              <td></td>
              <td></td>
            </tr>   
          </tbody>
        </table>
      </div>

      <div class="post-reply">
        <%= form_for [@post, @reply] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, rows:"3", placeholder: "請寫下留言內容", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit" ,class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
            
    </div>
  </div>
</div>