<!DOCTYPE html>
<html>
  <head>
    <title>DojoAustinforum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial:"shared/navbar" %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert"><%= notice %>
        <button class="close" type="button" data-dismiss="alert" aria-lable="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger alert-dismissible" role="alert"><%= alert %>
        <button class="close" type="button" data-dismiss="alert" aria-lable="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
